<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.uploadingscreen">


    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UploadingScreen">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="API_KEY"/>

        <activity
            android:name="com.example.uploadingscreen.WaitinRoomActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.GameActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.LobbyActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.AvatarActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.FormActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.RegisterActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.TriviaResultActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.TriviaQuizActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.NumSeqActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.UploadingActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.ConnectDotActivity"
            android:exported="false" />
        <activity
            android:name="com.example.uploadingscreen.WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.UploadingScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.uploadingscreen.MemoryGameActivity"
            android:exported="false" />
    </application>

</manifest>